{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Флаг{% endtrans %}</h4>
            <h5>{{ entity.country.title }}</h5>
            <br />
            {{ image|raw }}
            <br />
            <br />
            <a href="{{ path('banner', {'page':  page }) }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a>
            <br />
            <br />
            <a href="{{ path('banner_edit', { 'id': entity.id, 'page':  page }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a>
            <br />
            <br />
            {{ render(controller('AppBundle:banner:del', {'id': entity.id})) }}
        </div>
    </div>
{% endblock %}