#slider2 .bx-wrapper {
	position: relative;
	margin: 2px 1px 35px 11px;
	width: 300px;
	padding: 0;
	*zoom: 1;
}
#slider1 .bx-wrapper {
    position: relative;
    margin: 0;
    width: 970px;
    padding: 0;
    *zoom: 1;
}
.bx-wrapper li{
	position: absolute;
	left: 0;
	top: 0;
}

.bx-wrapper img {
	position: relative;
	display: block;
}
#slider2 .bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: solid #fcfcfc 11px;
	left: -5px;
	background: #fcfcfc;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -26px;
	width: 100%;
}
#slider1 .bx-wrapper .bx-pager,
#slider1 .bx-wrapper .bx-controls-auto {
    bottom: 12px;
    left: 400px;
    position: absolute;
    text-align: center;
    width: 570px;
    z-index: 2147;
}
/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

#slider2 .bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	margin: 0;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

#slider2 .bx-wrapper .bx-pager.bx-default-pager a {
	display: none;
}
#slider1 .bx-wrapper .bx-pager.bx-default-pager a {
    background: none repeat scroll 0 0 #fde841;
    border-radius: 50%;
    display: block;
    height: 23px;
    margin: 0 8px;
    outline: 0 none;
    text-indent: -9999px;
    width: 23px;
    box-shadow: 0 -1px 2px #a03d01 inset;
}
#slider2 .bx-wrapper .bx-pager.bx-default-pager a:hover,
#slider2 .bx-wrapper .bx-pager.bx-default-pager a.active {
	display: none;
}
#slider1 .bx-wrapper .bx-pager.bx-default-pager a:hover,
#slider1 .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #ffb001;
}
/* DIRECTION CONTROLS (NEXT / PREV) */

#slider2 .bx-wrapper .bx-prev {
	left: 205px;
    background: url(/bundles/app/images/sl-l.png) no-repeat;
}
#slider2 .bx-wrapper .bx-next {
    right: 5px;
    background: url(/bundles/app/images/sl-r.png) no-repeat;
}
#slider2 .bx-wrapper .bx-prev:hover {
    left: 204px;
    opacity: 0.9;
}

#slider2 .bx-wrapper .bx-next:hover {
    right: 4px;
    opacity: 0.9;
}

#slider2 .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 288px;
    outline: 0;
    width: 37px;
    height: 22px;
    text-indent: -9999px;
    z-index: 9999;
}
#slider1 .bx-wrapper .bx-controls-direction a {
   display: none;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 16px;
	left: 0;
	background: #ccccc9;
	background: rgba(0, 0, 0, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 5px 10px;
}
#slider2 .bxslider2 ul{
    padding: 0;
    margin: 0;
}
#slider2 .bxslider2 li{
    width: 300px;
    height: 257px;
    padding: 0;
    margin: 0;
}
#slider2 .bxslider2 img{
    width: 300px;
    height: 257px;
}
#slider1{
    padding: 0;
    margin: 0;
}
#slider1 .bxslider1 ul{
    padding: 0;
    margin: 0;
}
#slider1 .bxslider1 li{
    width: 970px;
    height: 267px;
    padding: 0;
    margin: 0;
}
#slider1 .bxslider1 .bxslider-img{
    width: 640px;
    height: 267px;
    padding: 0;
    margin: 0;
}
#slider1 .bxslider1 img{
    width: 640px;
    height: 267px;
    padding: 0;
    margin: 0;
}
#slider1 .bxslider1 .slider-text-block{
    float: left;
    margin: 0;
    padding: 0;
    width: 330px;
    height: 287px;
    position: relative;
}
#slider1 .bx-wrapper .bx-viewport {
    margin: 0 0 0 15px;
    padding: 0;
    position: relative;
    border: none !important;
    background: #fcfcfc;
}
#slider1 .bxslider1 .slider-text-block .name{
    width: 315px;
    height: auto;
    background: url("/bundles/app/images/fon-pl.png") repeat-x scroll 0 0 rgba(51, 98, 148, 1);
    font-family: "Roboto Condensed",sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0 10px 15px;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(1, 21, 42, 0.5);
    border-bottom: 2px solid #ffb001;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
#slider1 .bxslider1 .slider-text-block p{
    padding: 5px 10px 10px 15px;
}
#slider1 .bxslider1 .slider-text-block .send{
    width: 409px;
    height: 50px;
    background: url("/bundles/app/images/send.png")no-repeat;
    position: absolute;
    top: 212px;
    padding: 0;
    z-index: 21474836471;
}
#slider1 .bxslider1 .slider-text-block .send-price{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 10px 0 0 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    width: 315px;
}
#slider1 .bxslider1 .slider-text-block .send-price2{
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    color: #0c243b;
    font-size: 16px;
    font-weight: 500;
}
