.viza-block{
    background: none repeat scroll 0 0 #fcfcfc;
    border-radius: 6px;
    box-shadow: 0 0 3px #a03d01 inset;
    margin: 5px;
    padding: 25px 0 30px 0;
}
.viza-block p{
    font-size: 16px;
    height: 30px;
    margin: 0;
    padding: 10px 0 0 180px;
}
.viza-block a{
    text-decoration: none;
    color: #1e477b;
}
.viza-block a:hover{
    color: #f28504;
}
.center-block{
    height: auto;
    position: relative;
    margin: 0 auto;
    border: 1px solid #fde841;
    width: 1000px;
    border-radius: 10px;
    background: url("/bundles/app/images/fon-logo2.png") repeat scroll 0 0 rgba(24, 72, 117, 0.2)
}
.content-send{
    padding: 3px;
}

.contact{
    margin: 10px 0 0 240px;
    padding: 0;
}
.adria{
    font-family: "Roboto Slab",serif;
    font-size: 18px;
    color: #1e477b;;
}
.adria1{
    font-size: 18px;
    color: #1e477b;;
}
.time{
    text-align: center;
    width: auto;
    margin: 30px 0 30px 0;
    padding: 0;
}
#map{
    height: auto;
    position: relative;
    margin: 0 auto;
    border: 1px solid #fde841;
    border-radius: 10px;
    width: 1000px;
    background: url("/bundles/app/images/fon-logo2.png") repeat scroll 0 0 rgba(24, 72, 117, 0.2);
}

.name-block{
    text-align: center;
    background: #fcfcfc;
    padding: 10px 0 10px;
    margin: 5px;
    border-radius: 6px;
    box-shadow: 0 0 3px #a03d01 inset;
}
.name-block p{
    color: #1e477b;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0 5px 0;
}
.calendar{
    text-align: center;
    background: #fcfcfc;
    padding: 10px 0 10px;
    margin: 5px;
    border-radius: 6px;
    box-shadow: 0 0 3px #a03d01 inset;
}
.table{
    width: 940px;
    margin: 0 auto;
    padding:5px;
    background-color:#fefefe;

}
table, tr, td, th {
    border-bottom:1px solid #cfd8e9;
    border-collapse:collapse;
}
.table {
    display:inline-block;
    overflow:hidden;
    margin: 0;
    padding: 20px 0 0 20px;
}
td{
    height: 25px;
    padding-top: 8px;
}
.calendar2 {
    line-height: 16px;
    font-size: 15px;
    font-size: 400;
    height: 35px;
    width: 160px;
    background: #ffc544;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 1px #a03d01 inset;
    font-weight: 500;
}
.calendar1{
    width: 300px;
    font-size: 18px;
    background: url("/bundles/app/images/fon-pl.png")repeat-x;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(1, 21, 42, 0.5);
    border-bottom: 1px solid #ffb001;
    font-family: "Roboto Condensed",sans-serif;
}
.table a{
    color: #1e477b;
    font-size: 15px;
}
.table a:hover{
    color: #f28504;
}
