* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
    color: #0c243b;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}
a{
    text-decoration: none;
}
.clear{
    clear: both;
    height: 10px;
}
.clear1{
    clear: both;
    height: 0;
}
.bold{
    font-weight: 500;
    font-size: 14px;
}
#content-block {
    overflow: hidden;
    height: 100%;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: url("/bundles/app/images/10.jpg") repeat-x scroll 50% 0 rgba(139,178,237,1);
}
.content{
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
.header {
    height: 320px;
    position: relative;
    margin: 0 auto;
    border: 1px solid #fde841;
    width: 998px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#head-slider{
    height: auto;
    position: relative;
    margin: 0 auto;
    border-radius: 7px;
    width: 998px;
    background: #f4d845;
    padding: 15px 0 15px 0;
    border: 1px solid #fde841;
    box-shadow: 0 0 3px #a03d01 inset;
}
.left-block{
    float: left;
    width: 350px;
    height: auto;
    border: 1px solid #fde841;
    border-radius: 10px;
    margin-right: 10px;
    background: url("/bundles/app/images/fon-logo2.png") repeat scroll 0 0 rgba(24, 72, 117, 0.2)
}
.block-content{
    background: none repeat scroll 0 0 #fdb810;
    border-radius: 7px;
    height: auto;
    margin: 5px;
    padding: 3px 3px 8px 3px;
    width: auto;
    box-shadow: 0 0 3px #a03d01 inset;
}
.block-text{
    background: url("/bundles/app/images/fon-pl.png") repeat-x scroll 0 0 rgba(51, 98, 148, 1);
    border-bottom: 1px solid #ffb001;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(1, 55, 53, 0.5) inset;
    color: #ffffff;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: auto;
    margin: 5px 5px 0;
    padding: 12px 0 12px 20px;
    text-shadow: 1px 1px 0 rgba(1, 21, 42, 0.5);
    text-transform: uppercase;
    width: auto;
}
.block-text1{
    background: none repeat scroll 0 0 #fcfcfc;
    color: #0c243b;
    height: auto;
    margin: 0 5px;
    padding: 10px 10px 15px 20px;
    width: auto;
    border-bottom: 1px solid #cfd8e9;
}
.block-text1 a{
    text-decoration: none;
    color: #1e477b;
    font-size: 16px;
    font-weight: 400;
}
.right-block{
    float: left;
    width: 635px;
    height: auto;
    border: 1px solid #fde841;
    border-radius: 10px;
    background: url("/bundles/app/images/fon-logo2.png") repeat scroll 0 0 rgba(24, 72, 117, 0.2)
}
.block-text2{
    background: none repeat scroll 0 0 #fcfcfc;
    color: #0c243b;
    height: auto;
    margin: 0 5px;
    padding: 10px 10px 10px 20px;
    width: auto;
    border-bottom: 1px solid #cfd8e9;
}
.block-text2 a{
    text-decoration: none;
    color: #1e477b;
    font-size: 16px;
    font-weight: 400;
}
.block-text1 a:hover, .block-text2 a:hover{
    color: #f28504;
}
.block-text2 img{
    float: left;
    width: 135px;
    height: 85px;
    margin: 0;
    padding: 5px 20px 0 0;
}
.right-block .block-text2 p{
    padding: 0 0;
    margin: 0;
}
.text-price{
    margin: 33px 0 0 0;
    padding: 0;
}
.price{
    background: none repeat scroll 0 0 #ffc544;
    border-radius: 5px;
    display: inline-block;
    margin: 2px 0 0 0;
    padding: 4px 10px 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    font-size: 13px;
    color: #011222;
    box-shadow: 0 0 3px #a03d01 inset;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
}
#block-logo{
    height: auto;
    position: relative;
    margin: 0 auto;
    border: 1px solid #fde841;
    border-radius: 10px;
    width: 1000px;
    background: url("/bundles/app/images/fon-logo2.png") repeat scroll 0 0 rgba(24, 72, 117, 0.2);
}
#block-logo  img{
    margin: 0;
    padding: 25px 0 20px 70px;
    width: 150px;
}
.text-block_logo{
    margin: 0;
    padding: 5px 0 5px 45px;
    font-family: "Roboto Slab",serif;
    font-size: 28px;
    padding: 15px 0 10px 45px;
}
hr.style-one {
    width: 93%;
    margin-left: 40px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
#block-facebook{
    height: auto;
    position: relative;
    margin: 0 auto;
    border: 1px solid #fde841;
    width: 1000px;
    border-radius: 10px;
    background: url("/bundles/app/images/fon-logo2.png") repeat scroll 0 0 rgba(24, 72, 117, 0.2)
}
.footer{
    height: 120px;
    position: relative;
    margin: 0 auto;
    border-top: 1px solid #fde841;
    border-left: 1px solid #fde841;
    border-right: 1px solid #fde841;
    width: 998px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #083159;
    background: rgba(24, 72, 117, 0.2)
}
.footer img{
    position: absolute;
    padding: 0;
    margin: 10px 0 0 20px;
    width: 90px;
}
.bottom-logo-text{
    position: absolute;
    margin: 25px 0 0 120px;
    padding: 0;
    color: #ffffff;
}
.bottom-logo-text p{
    color: #ffffff;
    font-family: "Roboto Slab",serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-shadow: 0 1px 0 rgba(5, 11, 50, 0.5), 0 1px 5px rgba(5, 11, 50, 0.2);
}
.bottom-tel{
    position: absolute;
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(5,11,50,0.5), 0 1px 5px rgba(5,11,50,0);
    padding: 0;
    margin: 25px 0 0 680px;
    font-weight: 400;
    color: #ffffff;
}
.small{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-shadow: none;
    font-weight: 400;
    color: #0c243b;
}
.copy{
    background: url("/bundles/app/images/fon-logo2.png") repeat scroll 0 0 rgba(24, 72, 117, 0.4);
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-top: 90px;
    padding: 6px;
    text-align: center;
}
.logo{
    display: block;
    position: absolute;
    margin: 10px 0 0 -15px;
}
.top-text{
    color: #fff;
    font-family: "Roboto Slab",serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    margin: 30px 0 0 215px;
    padding: 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(5,11,50,0.8), 0 1px 5px rgba(5,11,50,0.5);
}
.language{
    position: absolute;
    margin: 10px 0 0 835px;
}
.language a{
    background: url("/bundles/app/images/b.jpg") repeat-x scroll 0 80% rgba(0, 0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(5, 11, 50, 0.4), 0 1px 0 rgba(255,255,255,0.5) inset;
    color: #fff;
    display: inline-block;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin: 0 5px 0 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(5,11,50,0.9);
    width: 45px;
}
.language a:hover{
    background: #2969a7;
}
.mail{
    background: url("/bundles/app/images/f2.png") no-repeat scroll 0 48% rgba(0, 0, 0, 0);
    position: absolute;
    margin: 95px 0 0 755px;
    padding: 1px 40px 5px 57px;
    font-size: 16px;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(5,11,50,0.8), 0 1px 5px rgba(5,11,50,0.5);
}
.tel{
    background: url("/bundles/app/images/c1.png") no-repeat scroll 1% 37% rgba(0, 0, 0, 0);
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 110px 0 0 755px;
    padding: 15px 0 0 41px;
    position: absolute;
    text-shadow: 0 1px 1px rgba(5,11,50,0.8), 0 1px 5px rgba(5,11,50,0.5);
}
#top_menu{
    border-radius: 14px;
    height: 50px;
    margin: 200px 0 0 37px;
    position: absolute;
    width: 974px;
}
.menu{
    height: 50px;
}
.menu a{
    color: #0e2c4a;
    display: block;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    letter-spacing: 0.5px;
    line-height: 8px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: auto;
}
.b-m {
    background: url("/bundles/app/images/b2.jpg")repeat-x;
    float: left;
    height: 35px;
    padding: 12px 15px 3px 15px;
    text-align: center;
    border-right: 1px solid #f59d03;
    box-shadow: 0 4px 2px rgba(2, 15, 64, 0.2);
}
.b-m:hover{
    background: #ffb001;
}
.b-m.active{
    background: #ffb001;
}
.left-b-m{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.right-b-m{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
}
.text2{
    font-family: 'Bad Script', cursive;
    color: #fff;
    font-size: 28px;
    margin: 258px auto;
    text-align: center;
    text-shadow: 0 1px 1px rgba(5,11,50,0.9), 0 1px 5px rgba(5,11,50,0.3);
}
.new{
    position: absolute;
    margin: 280px 0 0 780px;
    padding: 0;
}
.new a{
    background: url("/bundles/app/images/b.jpg")repeat-x;
    border-radius: 6px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(5, 11, 50, 0.4), 0 1px 0 rgba(255,255,255,0.75) inset;
    font-family: "Roboto Condensed",sans-serif;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.new a:hover{
    background: #2969a7;
}
.twitter{
    background: url("/bundles/app/images/tr-t.png")no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 280px 0 0 70px;
    padding: 0;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0,0,0,0.7);
}
.facebook{
    background: url("/bundles/app/images/tr-f.png")no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 280px 0 0 114px;
    padding: 0;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0,0,0,0.7);
}
.pagination-face-b a{
    color: #0044cc;
}
.pagination-face a{
    color: greenyellow;
}

.admin-link-b {
    float: left;
    /*margin-bottom: 5px;*/
    margin-top: 10px;
    margin-left: 920px;
}
.admin-link-b a{
    color:#ffffff;
    float: left;
    margin-left: 50px;
}

.pagination {
    margin: 20px 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
    display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #999999;
    cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
    padding: 11px 19px;
    font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
    padding: 2px 10px;
    font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
    padding: 0 6px;
    font-size: 10.5px;
}

.pager {
    margin: 20px 0;
    text-align: center;
    list-style: none;
    *zoom: 1;
}

.pager:before,
.pager:after {
    display: table;
    line-height: 0;
    content: "";
}

.pager:after {
    clear: both;
}

.pager li {
    display: inline;
}

.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}

.pager .next > a,
.pager .next > span {
    float: right;
}

.pager .previous > a,
.pager .previous > span {
    float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #999999;
    cursor: default;
    background-color: #fff;
}

/****************************************************************
**         END PAGER                                           **
*****************************************************************/

.adria-text-block{
    background-color: #f5f5f5;
    margin: 5px;
    padding: 25px 15px 30px;
    min-height: 320px;
    height:100%;
}
.adria-text-image{
    margin: 15px;
}
.adria-text-h3{
    margin-left: 480px;
}
.adria-text-h3-layout2{
    margin-left: 380px;
}
.main-image{
    margin: 7px;
}


.box {
    position:relative;
    margin: 5px;
    border-radius:4px;
    padding: 30px;
    background: #eeeeee;
    border: 1px solid #e1e1e1;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.box:before,
.box:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}

/***********************************************************************************
* feedback
***********************************************************************************/

.fb{
    display: none;
    position: fixed;
    top: 15px;
    left: 500px;
    border-radius: 12px;
    border: 4px solid #f4d845;
    background-color: rgba(139,178,237,1);
    width:390px;
    height: 610px;
    z-index: 3000;

}
#feedback-form{
    margin-top: 1px;
    color: #fff;
}
.buttn{
    border-radius: 10px;
    background-color: rgba(51, 98, 148, 1);;
    width:200px;
    height: 50px;
    border: 1px solid #ffc900;
    color: #fff;
}
.inp-div{
    margin-top:5px;
    margin-left:40px;
    width:300px;
}
.inp-div-btn{
    margin-top:5px;
    margin-left:100px;
    color: #fff;
}
.inpt{
    border-radius: 4px;
    width:300px;
    height: 35px;
    border: 1px solid #997900;
    background-color: #ffc900;
    padding-left: 15px;


}
.textarea{
    width:300px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #997900;
    background-color: #ffc900;
}
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-shadow: 0 1px 0 #000000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.feedback-request{
    position: fixed;
    top: 120px;
    left: 480px;
    border-radius: 15px;
    border: 4px solid #8b0000;
    background-color: darkgreen;
    width:300px;
    height: 100px;

}
.feedback-success-text{
    margin-top:30px;
    width:300px;
    text-align: center;
    font-size: 20px;
    color: #fff;

}
.feedback-error-text{
    margin-top:30px;
    width:300px;
    text-align: center;
    font-size: 20px;
    color: red;
}
#feedback-success{
    display: none;
}
#feedback-error{
    display: none;
}
/***********************************************************************************
* end feedback
***********************************************************************************/
/***********************************************************************************
* order button
***********************************************************************************/


.order-button {
    background-color: #ffc84d;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f4d845),to(#ffb001));
    background-image: -webkit-linear-gradient(top,#f4d845,#ffb001);
    background-image: linear-gradient(top,#f4d845,#ffb001);
    background-repeat: repeat-x;
    filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#8eba20, endColorstr=#609816, GradientType=0)';
    box-shadow: 1px 1px 2px rgba(0,0,0,.7);
    text-decoration: none;
    text-shadow: -1px 2px rgba(0,0,0,.5);
    color: #FFFFFF;
    font-weight: 600;

    display: inline-block;
    border-radius: 8px;


    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}
.order-button-red {
    background-color: #8B240E;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(red),to(darkred));
    background-image: -webkit-linear-gradient(top,red,darkred);
    background-image: linear-gradient(top,red,darkred);
    background-repeat: repeat-x;
    filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=#8eba20, endColorstr=#609816, GradientType=0)';
    box-shadow: 1px 1px 2px rgba(0,0,0,.7);
    text-decoration: none;
    text-shadow: -1px 2px rgba(0,0,0,.5);
    color: #FFFFFF;
    font-weight: 600;

    display: inline-block;
    border-radius: 8px;


    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}

.order-button:before, :after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.order-button-red:before, :after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.order-button:hover{
    background-image: -webkit-linear-gradient(269deg, #ffb001 0%, #f4d845 100%);
    background-image: linear-gradient(-179deg, #ffb001 0%, #f4d845 100%);
}
.order-button-red:hover{
    background-image: -webkit-linear-gradient(269deg, darkred 0%, red 100%);
    background-image: linear-gradient(-179deg, darkred 0%, red 100%);
}

.order-button-size {
    height: 45px;
    width: 26%;
    font-size: 21px;
    line-height: 45px;


}