{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Информация о дне тура{% endtrans %}</h4>
            <br />
            <div  class="show-title">{% trans %}Название{% endtrans %}: {{ entity.title }}</div>
            <br />
            <div  class="show-title">{% trans %}Тур{% endtrans %}: {{ entity.tour }}</div>
            <br />
            <div  class="show-title">{% trans %}Описание{% endtrans %}: {{ entity.description }}</div>
            <br />
            <div class="description-show-block">
                {{ entity.text }}
            </div>
            <br />
            {{ image|raw }}
            <br />
            <br />
            <a href="{{ path('duration', {'page':  page }) }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a>
            <br />
            <br />
            <a href="{{ path('duration_edit', { 'id': entity.id,'page':  page  }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a>
            <br />
            <br />
            {{ render(controller('AppBundle:duration:del', {'id': entity.id})) }}
        </div>
    </div>
{% endblock %}