{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Категория{% endtrans %}</h4>
            <div  class="show-title">{% trans %}Название{% endtrans %}: {{ entity.title }}</div>
            <br />
            <br />
            <a href="{{ path('category', {'page':  page }) }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a>
            <br />
            <br />
            <a href="{{ path('category_edit', { 'id': entity.id, 'page':  page }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a>
            <br />
            <br />
            {{ render(controller('AppBundle:category:del', {'id': entity.id})) }}
        </div>
    </div>
{% endblock %}