{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Администратор{% endtrans %}</h4>
            <div  class="owner-name">{{ entity.username }}</div>
            <h4>{{ entity.surname }}</h4>
            <h5>{{ entity.position }}</h5>
            <br />
            {{ image|raw }}
            <br />
        </div>
        <table class="table table-striped table-bordered table-condensed">
            <thead style="background-color: #4f4f4f">
            <tr>
                <th><div class="table-admin-username"  style="color: #ffffff"><b>{% trans %}Имя{% endtrans %}</b></div></th>
                <th><div class="table-admin-surname"  style="color: #ffffff"><b>{% trans %}Фамилия{% endtrans %}</b></div></th>
                <th><div class="table-admin-position"  style="color: #ffffff"><b>{% trans %}Должность{% endtrans %}</b></div></th>
                <th><div class="table-admin-phone"  style="color: #ffffff"><b>{% trans %}Телефон{% endtrans %}</b></div></th>
                <th><div class="table-admin-email"  style="color: #ffffff"><b>Email</b></div></th>
                <th><div class="table-admin-created"  style="color: #ffffff"><b>{% trans %}Создан{% endtrans %}</b></div></th>
                <th><div class="table-apartment-show"  style="color: #ffffff"><b>{% trans %}Список{% endtrans %}</b></div></th>
                <th><div  style="color: #ffffff"><b><i>{% trans %}Редактировать{% endtrans %}</i></b></div></th>
                <th><div style="color: red"><b><i>{% trans %}Удалить{% endtrans %}</i></b></div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ entity.username }}</td>
                <td>{{ entity.surname }}</td>
                <td>{{ entity.position }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.created }}</td>
                <td><a href="{{ path('admin') }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a> </td>
                <td><a href="{{ path('admin_edit', { 'id': entity.id }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a> </td>
                <td>{{ render(controller('AppBundle:admin:del', {'id': entity.id})) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}


