{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Цена{% endtrans %}</h4>
            <h5>{{ entity.title }}</h5>
            <br />
            <div  class="show-title">{% trans %}Стандартная{% endtrans %}: {{ entity.price }}</div>
            <br />
            {% if entity.foreigners != null %}
                <div  class="show-title">{% trans %}Для иностранцев{% endtrans %}: {{ entity.foreigners }}</div>
                <br />
            {% endif %}
            {% if entity.children != null %}
                <div  class="show-title">{% trans %}Для детей{% endtrans %}: {{ entity.children }}</div>
                <br />
            {% endif %}
            {% if entity.discount != null %}
                <div  class="show-title">{% trans %}Цена со скидкой{% endtrans %}: {{ entity.discount }}</div>
                <br />
            {% endif %}
            {% if entity.expires != null %}
                <div  class="show-title">{% trans %}Скидка действительна до{% endtrans %}: {{ entity.expires|date("d-m-Y") }}</div>
                <br />
            {% endif %}
            <div  class="show-title">{% trans %}Валюта{% endtrans %}: {{ entity.currency }}</div>
            <br />
            <br />
            <a href="{{ path('price', {'page':  page }) }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a>
            <br />
            <br />
            <a href="{{ path('price_edit', { 'id': entity.id, 'page':  page }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a>
            <br />
            <br />
            {{ render(controller('AppBundle:price:del', {'id': entity.id})) }}
        </div>
    </div>
{% endblock %}