{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="inner-edit-block">
        <h1>{% trans %}Редактировать{% endtrans %} {% trans %}информацию о результате{% endtrans %}</h1>
        <br>
        {{ form(edit_form) }}
        <ul class="record_actions">
            <li>
                <a href="{{ path('result', {'page':  page }) }}" class="btn btn-success">
                    {% trans %}Вернуться к списку{% endtrans %}
                </a>
            </li>
            <br />
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
