{% extends '::base.html.twig' %}

{% block body -%}
    <h1>result</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ entity.text }}</td>
            </tr>
            <tr>
                <th>Tour</th>
                <td>{{ entity.tour }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('result') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('result_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Информация о результате{% endtrans %}</h4>
            <br />
            {% if entity.tour %}
                <div  class="show-title">{% trans %}Tour{% endtrans %}: {{ entity.tour.title }}</div>
            {% endif %}
            <br />
            {% if entity.title %}
                <div  class="show-title">{% trans %}Title{% endtrans %}: {{ entity.title }}</div>
                <br>
            {% endif %}
            {% if entity.text %}
                <div  class="show-title">{% trans %}Name{% endtrans %}: {{ entity.text }}</div>
                <br>
            {% endif %}

            <a href="{{ path('result', {'page':  page }) }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a>
            <br />
            <br />
            <a href="{{ path('result_edit', { 'id': entity.id,'page':  page  }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a>
            <br />
            <br />
            {{ render(controller('AppBundle:resulr:del', {'id': entity.id})) }}
        </div>
    </div>
{% endblock %}
