{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h1>{% trans %}Список{% endtrans %} {% trans %}заказов{% endtrans %}</h1>
        </div>
        <br />
        <center>
            {{ knp_pagination_render(pagination) }}
        </center>
        <br />
        <table class="table table-striped table-bordered table-condensed">
            <thead style="background-color: #4f4f4f">
            <tr>
                <th><div class="table-orders-id"  style="color: #ffffff"><b>Id</b></div></th>
                <th><div class="table-orders-name"  style="color: #ffffff"><b>{% trans %}Tour{% endtrans %}</b></div></th>
                <th><div class="table-orders-name"  style="color: #ffffff"><b>{% trans %}Tour Id{% endtrans %}</b></div></th>
                <th><div class="table-orders-name"  style="color: #ffffff"><b>{% trans %}Date{% endtrans %}</b></div></th>
                <th><div class="table-orders-name"  style="color: #ffffff"><b>{% trans %}Created{% endtrans %}</b></div></th>
                <th><div class="table-orders-name"  style="color: #ffffff"><b>{% trans %}Электронная почта{% endtrans %}</b></div></th>
                <th><div class="table-orders-name"  style="color: #ffffff"><b>{% trans %}Телефон{% endtrans %}</b></div></th>
                <th><div class="table-orders-name"  style="color: #ffffff"><b>{% trans %}Имя{% endtrans %}</b></div></th>
                <th><div class="table-orders-name"  style="color: #ffffff"><b>{% trans %}Сообщение{% endtrans %}</b></div></th>
                <!--<th><div class="table-orders-show"  style="color: #ffffff"><b>{% trans %}Показать{% endtrans %}</b></div></th>
                <th><div  style="color: #ffffff"><b><i>{% trans %}Редактировать{% endtrans %}</i></b></div></th>-->
                <th><div style="color: red"><b><i>{% trans %}Удалить{% endtrans %}</i></b></div></th>
            </tr>
            </thead>
            <tbody>
            {% for entity in  pagination %}
                {% set tour = tours[entity.id] %}
                <tr>
                    <td><a href="{{ path('orders_show', { 'id': entity.id, 'page':  page }) }}">{{ entity.id }}</a></td>
                    <td>{% if tour.title %}{{ tour.title }}{% endif %}</td>
                    <td>{% if tour.id %}{{ tour.id }}{% endif %}</td>
                    <td>{{  entity.date|date("d-m-Y") }}</td>
                    <td>{{  entity.created|date("d-m-Y") }}</td>
                    <td>{{  entity.email }}</td>
                    <td>{{  entity.phone }}</td>
                    <td>{{  entity.name }}</td>
                    <td>{{  entity.text }}</td>
                    <!--<td><a href="{{ path('orders_show', { 'id': entity.id, 'page':  page }) }}" class="btn btn-success">{% trans %}Показать{% endtrans %}</a> </td>
                    <td><a href="{{ path('orders_edit', { 'id': entity.id, 'page':  page }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a> </td>-->
                    <td>{{ render(controller('AppBundle:orders:del', {'id': entity.id})) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br />
    <center>
        {{ knp_pagination_render(pagination) }}
    </center>
    <br />

{% endblock %}
