{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Информация о заказе{% endtrans %}</h4>
            <br />
            {% if entity.tour %}
                <div  class="show-title">{% trans %}Тур{% endtrans %}: {{ entity.tour.title }}</div>
            {% endif %}
            <br />
            {% if entity.date %}
                <div  class="show-title">{% trans %}Date{% endtrans %}: {{ entity.date|date("d-m-Y") }}</div>
                <br>
            {% endif %}
            {% if entity.name %}
                <div  class="show-title">{% trans %}Name{% endtrans %}: {{ entity.name }}</div>
                <br>
            {% endif %}
            {% if entity.email %}
                <div  class="show-title">{% trans %}Email{% endtrans %}: {{ entity.email }}</div>
                <br>
            {% endif %}
            {% if entity.phone %}
                <div  class="show-title">{% trans %}Phone{% endtrans %}: {{ entity.phone }}</div>
                <br>
            {% endif %}

            <a href="{{ path('orders', {'page':  page }) }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a>
            <br />
            <br />
            <a href="{{ path('orders_edit', { 'id': entity.id,'page':  page  }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a>
            <br />
            <br />
            {{ render(controller('AppBundle:orders:del', {'id': entity.id})) }}
        </div>
    </div>
{% endblock %}
