{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Текст{% endtrans %}</h4>
            <div  class="show-title">{% trans %}Тип{% endtrans %}: {{ entity.tag.title }}</div>
            <br />
            <div  class="show-title">{% trans %}путь к странице{% endtrans %}: {{ entity.route }}</div>
            <br />
            <div  class="show-title">{% trans %}Название{% endtrans %}: {{ entity.title }}</div>
            <br />
            <div  class="show-title">{% trans %}Описание{% endtrans %}: {{ entity.description }}</div>
            <br />
            <div class="description-title">{% trans %}Текст{% endtrans %}</div>
            <br>
            <div class="description-show-block">
                {{ entity.text }}
            </div>
            <br />
            <br />
            <a href="{{ path('text', {'page':  page }) }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a>
            <br />
            <br />
            <a href="{{ path('text_edit', { 'id': entity.id, 'page':  page }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a>
            <br />
            <br />
            {{ render(controller('AppBundle:text:del', {'id': entity.id})) }}
        </div>
    </div>
{% endblock %}