<div class="clear1"></div>
{% if burning|length > 0 %}
    <div class="block-content">
        <div class="block-text">
            <img style="position: absolute; margin: -15px 0 0 252px;" src="{{ asset('bundles/app/images/ico4.png') }}">
            {% trans %}Горячие предложения{% endtrans %}
        </div>
        {% for burn in burning %}
            <div class="block-text1">
                <a href="{{ path('item', {'id': burn.id}) }}" target="_blank"><b>{{ burn.title|trans }}</b></a><br />
                <p>{{ burn.description|trans }}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}
