<div class="clear1"></div>
{% if early|length > 0 %}
    <div class="block-content">
        <div class="block-text">
            <img style="position: absolute; margin: -15px 0 0 252px;" src="{{ asset('bundles/app/images/ico8.png') }}">
            {% trans %}Раннее бронирование{% endtrans %}
        </div>
        {% for ear in early %}
            <div class="block-text1">
                <a href="{{ path('item', {'id': ear.id}) }}" target="_blank"><b>{{ ear.title|trans }}</b></a><br />
                <p>{{ ear.description|trans }}</p>
            </div>
        {% endfor %}
    </div>
{%  endif %}
