<div class="clear"></div>
<div id="block-facebook">
    <div class="block-content">
        <div style="overflow:hidden; width: 935px; height: 180px; padding: 0; margin:auto;"><iframe src="http://www.facebook.com/plugins/likebox.php?locale=lv_LV&href=http%3A%2F%2Fwww.facebook.com%2FLaimture&amp;width=952&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=183&amp;ref=bottom" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:954px; height:185px; margin: -2px -2px -2px -2px; display: block;" allowTransparency="true"></iframe></div>
    </div>
</div>
