<div class="fb">
    <br>
    <div class = "close">X &nbsp;&nbsp;&nbsp;</div>
    <form id = "feedback-form" method="post">
        <input type="hidden" id="feedback-path" name="feedback-path" value="{{ path(app.request.attributes.get('_route'),  app.request.attributes.get('_route_params')) }}">
        <input type="hidden" id="feedback-tour" name="feedback-tour" value="{{ tour.id }}">
        <div class = "inp-div" >
            {% trans %}Имя{% endtrans %}<span style="color:red;font-size: 20px;">&nbsp;*</span>
            <br>
            <br>
            <input class = "inpt" value = "name" type="text" id="feedback-name" name = "feedback-name" required><br>
        </div>
        <div class = "inp-div" >
            {% trans %}Электронная почта{% endtrans %}<span style="color:red;font-size: 20px;">&nbsp;*</span>
            <br>
            <br>
            <input class = "inpt" value = "e-mail"  type="email" id="feedback-email" name = "feedback-email" required>
        </div>
        <div class = "inp-div" >
            {% trans %}Телефон{% endtrans %}
            <br>
            <br>
            <input class = "inpt" value = "phone" id="feedback-phone" type="text" name = "feedback-phone"></div>
        <div class = "inp-div" >
            {% trans %}Дата{% endtrans %}<span style="color:red;font-size: 20px;">&nbsp;*</span>
            <br>
            <br>
            <input class = "inpt" id="feedback-date" name="feedback-date" type="text" required>
        </div>
        <div class = "inp-div" >
            {% trans %}Сообщение{% endtrans %}<span style="color:red;font-size: 20px;">&nbsp;*</span>
            <br>
            <br>
            <textarea class = "textarea" rows = "4" id="feedback-text" name="feedback-text" required></textarea>
        </div>
        <br />
        <div class = "inp-div-btn" >
            <button class = "buttn" type = "submit" id="sbm" value = "submitted" name = "feedback-submitted">{% trans %}Заказ{% endtrans %}</button>
        </div>

    </form>
</div>
