<div class="clear"></div>
<div class="footer">
    {% if is_granted('ROLE_ADMIN') %}
        <img src="{{ asset('bundles/app/images/logo-bottom.png') }}">
    {% else %}
        <a href="/login"  ><img src="{{ asset('bundles/app/images/logo-bottom.png') }}"></a>
    {% endif %}
    <div class="bottom-logo-text">
        <p>{% trans %}Балтийское туристическое{% endtrans %}<br> {% trans %}агенство ADRIA TOUR{% endtrans %}</p>
    </div>
    <div class="bottom-tel">
        <p><span class="small">{% trans %}тел:{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp;&nbsp;&nbsp; +371 20 86 00 01&nbsp;&nbsp;+371 20 86 00 02<br>
            <span class="small">e-mail:&nbsp;&nbsp; &nbsp; </span><a href="mailto:adriatour@inbox.lv" style="color: #fff;">adriatour@inbox.lv</a></p>
            <span class="small"><a href="http://arcana.lt" style="color: #002a80" target="_blank">designed by Arcanas</a></span>
    </div>
    <div class="copy">Copyright © 2015</div>
</div>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-1.8.3.js') }}"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/app/js/jquery.bxslider.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/validation.js') }}" type="text/javascript"></script>
    <script src="http://yandex.st/jquery/fancybox/2.1.4/jquery.fancybox.min.js"></script>
    <script src="{{ asset('bundles/app/js/main.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $( '#feedback-date' ).datepicker({dateFormat: 'yy-mm-dd'});
            $("#feedback-form").validate();
            slider1= $('.bxslider1').bxSlider({
                auto: true,
                mode: 'fade'
            });
        });
    </script>
    <script type="text/javascript">
        $(function(){
            slider2= $('.bxslider2').bxSlider({
                pager: true,
                slideWidth: 360,
                minSlides: 1,
                maxSlides: 1,
                moveSlides: 1
            });
        });
        $(function(){
            $(document).ready(function() {
                $('.fancybox').fancybox();
                $('#open-iframe').click(
                        function(){
                            $('#iframe').show();
                        });



            });
        });
    </script>
    <!--     GOOGLE      -->
    <!-- Код тега ремаркетинга Google -->
    <!--------------------------------------------------
    С помощью тега ремаркетинга запрещается собирать информацию, по которой можно идентифицировать личность пользователя. Также запрещается размещать тег на страницах с контентом деликатного характера. Подробнее об этих требованиях и о настройке тега читайте на странице http://google.com/ads/remarketingsetup.
    --------------------------------------------------->
    <script type="text/javascript">
        var google_tag_params = {
            travel_destid: 'REPLACE_WITH_VALUE',
            travel_originid: 'REPLACE_WITH_VALUE',
            travel_startdate: 'REPLACE_WITH_VALUE',
            travel_enddate: 'REPLACE_WITH_VALUE',
            travel_pagetype: 'REPLACE_WITH_VALUE',
            travel_totalvalue: 'REPLACE_WITH_VALUE'
        };
    </script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 958692609;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/958692609/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
    <!--     END GOOGLE  -->
{% endblock %}