<div class="clear1"></div>
<div class="block-content">
    <div class="block-text">
        <img style="position: absolute; margin: -15px 0 0 252px;" src="{{ asset('bundles/app/images/ico8.png') }}">
        {% trans %}График туров{% endtrans %}
    </div>
    <div class="block-text1">
        <a href="{{ asset('/bundles/app/download/schedule.'~app.request.locale~'.xlsx') }}" download=""><b>{% trans %}ДАТА ВЫЕЗДА И ЦЕНЫ (СКАЧАТЬ){% endtrans %}</b></a><br />
    </div>
</div>