{% block title %}{% endblock %}
{% block stylesheets %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/calendar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/style-adria.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/fancy.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/bxslider.css') }}">
    <link rel="stylesheet" href="http://yandex.st/jquery/fancybox/2.1.4/jquery.fancybox.css"/>
    <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900|Roboto+Condensed:400,300,700|Roboto+Slab:400,300,700|Rokkitt:400,700|Rosarivo|Rozha+One|Rouge+Script&subset=cyrillic-ext,cyrillic,latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}