<div class="header">
    <a class="logo" href="">
        <img src="{{ asset('bundles/app/images/logo.png') }}">
    </a>
    <div class="language">
        <a href="/lv/">LV</a>
        <a href="/ru/">RU</a>
    </div>
    <div class="mail">
        <a href="mailto:adriatour@inbox.lv" style="color: #ffffff;"> adriatour@inbox.lv</a>
    </div>
    <div class="tel">
        +371 20 86 00 01<br>+371 20 86 00 02
    </div>
    <div class="top-text">
        <p>{% trans %}Балтийское туристическое агенство{% endtrans %}<br><span style="font-size: 38px;"> {% trans %}ADRIA TOUR{% endtrans %}</span></p>
    </div>
    <img style="position: absolute; margin: 155px 0 0 255px; width: 450px;" src="{{ asset('bundles/app/images/text-img1.png') }}">
    <div id="top_menu">
        {#   knp_menu_render('AppBundle:MenuBuilder:topMenu') #}
        <div class="menu">
            <div class="b-m left-b-m"><a href="{{ path('homepage') }}">{% trans %}На{% endtrans %}<br><br>{% trans %}главную{% endtrans %}</a></div>
            <div class="b-m"><a href="{{ path('avia') }}">{% trans %}Авиа{% endtrans %}<br><br>{% trans %}туры{% endtrans %}</a></div>
            <div class="b-m"><a href="{{ path('sea') }}">{% trans %}Морские{% endtrans %} <br><br>{% trans %}круизы{% endtrans %}</a></div>
            <div class="b-m"><a href="{{ path('europe') }}">{% trans %}Автобусные{% endtrans %}<br><br>{% trans %}туры{% endtrans %}</a></div>
            <div class="b-m"><a href="{{ path('baltic') }}">{% trans %}Экскурсии{% endtrans %}<br><br>{% trans %}по Балтии{% endtrans %}</a></div>
            <div class="b-m"><a href="{{ path('latvia') }}">{% trans %}Прием туристов{% endtrans %}<br><br>{% trans %}в Латвии{% endtrans %}</a></div>
            <div class="b-m"><a href="{{ path('offers') }}">{% trans %}Специальные{% endtrans %}<br><br>{% trans %}предложения{% endtrans %}</a></div>
            <div class="b-m"><a href="{{ path('info') }}">{% trans %}Информация{% endtrans %}<br><br>{% trans %}для туристов{% endtrans %}</a></div>
            <div class="b-m right-b-m"><a href="{{ path('contact') }}"><br>{% trans %}Контакты{% endtrans %}</a></div>
        </div>
    </div>
    <a target="_blank" rel="nofollow" href="https://twitter.com/AdriaRiga"  class="twitter"></a>
    <a target="_blank" rel="nofollow" href="https://www.facebook.com/adriatour.lv" class="facebook"></a>
    <div class="new">
        <!--<a href="">{% trans %}подписаться на новости{% endtrans %}</a>-->
    </div>
    <p class="text2">{% trans %}Путешествия со вкусом!{% endtrans %}</p>
</div>