<!DOCTYPE html>
<html>
<head>
    {% include 'AppBundle::head.html.twig' %}
</head>
<body>

<script>
    //adriatour
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60938538-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');


    //adriatravel
    /*
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60365070-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
    */

</script>
<div id="content-block">
    {% include 'AppBundle::header.html.twig' %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="admin-link-b" >
            <a href="{{ path('tour') }}" target="_blank" >{% trans %}Кабинет{% endtrans %}</a>
            <a href="/logout" >{% trans %}Выйти{% endtrans %}</a>
        </div>
    {% endif %}
    <span>{{ render(controller('AppBundle:Default:slider')) }}</span>
    {# include 'AppBundle::top-slider.html.twig' #}
    <div class="clear"></div>
    <div class="content">
        <div class="center-block">
            <div class="block-content content-send">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    {% include 'AppBundle::partners.html.twig' %}
    {% include 'AppBundle::footer.html.twig' %}
</div>
</body>
</html>