<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Администрирование{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block stylesheets %}
        <link href="{{ asset('bundles/app/images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
        <link href="{{ asset('bundles/app/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/app/css/styleAdmin.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('bundles/app/js/jquery-1.8.3.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/main.js') }}"></script>
    {% endblock %}
<style>
</style>
</head>
<body>
    <div class="header">
        <div class="hgroup">
            <a href="/" class="title">{% trans %}Администрирование{% endtrans %}</a>
        </div>
	</div>
    <nav class="top-nav-panel">
	    <ul class="subscription">
            <li>
			    <a href="{{ path('homepage', {'_locale': 'ru'}) }}" class="subscribe-rss-top-nav" title="subscribe via RSS"><img class="img-rss" src="{{ asset('bundles/app/images/rss3.png') }} "></a>
		    </li>  
        </ul>

        <div class="flag-top-nav">
            <a href="{{ path('tour', {'_locale': 'ru'}) }}"><img src="{{ asset('bundles/app/images/flag/ru24.png') }}"></a>
            &nbsp;
            <a href="{{ path('tour', {'_locale': 'lv'}) }}"><img src="{{ asset('bundles/app/images/flag/lv24.png') }}"></a>
        </div>
        {# knp_menu_render('ArcanaBundle:MenuBuilder:topAdminMenu') #}
    </nav>
	<div class="container-main-admin-tour">
        {% block body %}{% endblock %}
	</div>

    {# if is_granted('ROLE_ADMIN') #}
    <!--<div class="container-footer">
            {#    knp_menu_render('AppBundle:MenuBuilder:bottomAdminMenu') #}
        </div>-->
    {# endif #}
</body>
</html>