{% if order == null%}
    <br>
    <div class="order-button order-button-size">{% trans %}Заказ{% endtrans %}</div>
    <br>
{% else %}
    <br>
    {% trans %}Заказ{% endtrans %}    {{ order|date("d-m-Y") }}
    <br>
    <br>
    <div class="order-button order-button-size">{% trans %}Изменить заказ{% endtrans %}</div>
    <br>
    <br>
    <form method="post">
        <button type = "submit" value="delete" name="delete-order" class="order-button-red order-button-size">{% trans %}Удалить{% endtrans %}</button>
    </form>

    <br>
{% endif %}