<div class="clear"></div>
<div id="block-logo">
    <div class="block-content" style="background: #fcfcfc;">
        <p class="text-block_logo">{% trans %}Наши партнеры{% endtrans %}</p>
        <hr class="style-one">
        <!--<a href="http://www.novatours.lv/" target="_blank"><img src="{{ asset('bundles/app/images/block-logo4.png') }}"></a>-->
        <a href="http://www.goadventure.lv/" target="_blank"><img src="{{ asset('bundles/app/images/block-logo2.png') }}"></a>
        <a href="http://www.mouzenidis.lv/" target="_blank"><img src="{{ asset('bundles/app/images/mouzen-red.jpg') }}"  width="200" height="56"></a>
        <!--<a href="http://teztour.lv/" target="_blank"><img src="{{ asset('bundles/app/images/block-logo3.png') }}"></a>-->
        <a href="http://www.alida.lv/" target="_blank"><img src="{{ asset('bundles/app/images/block-logo1.png') }}"></a>
        <a href="http://www.bta.lv/" target="_blank"><img src="{{ asset('bundles/app/images/bta.jpg') }}" width="200" height="56"></a>
    </div>
</div>
