<div class="clear1"></div>
{% if sliders|length > 0 %}
    <div class="block-content">
        <div class="block-text">
            <img style="position: absolute; margin: -15px 0 0 252px;" src="{{ asset('bundles/app/images/ico9.png') }}">
            {% trans %}Фотогалерея{% endtrans %}
        </div>
        <div id="slider2">
            <ul class="bxslider2">
            {% for slider in sliders %}
                <li>
                    <a class="fancybox" data-fancybox-group="gallery1" href="{{ asset('/uploads/images/'~image[slider.id].path) }}">
                        <img src="{{ asset('/uploads/images/'~image[slider.id].path) }}">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% else %}
    <div class="block-content">
        <div class="block-text">
            <img style="position: absolute; margin: -15px 0 0 252px;" src="{{ asset('bundles/app/images/ico9.png') }}">
            {% trans %}Фотогалерея{% endtrans %}
        </div>
        <div id="slider2">
            <ul class="bxslider2">
                <li>
                    <a class="fancybox" data-fancybox-group="gallery1" href="{{ asset('bundles/app/images/g1.jpg') }}">
                        <img src="{{ asset('bundles/app/images/s1.jpg') }}">
                    </a>
                </li>
                <li>
                    <a class="fancybox" data-fancybox-group="gallery1" href="{{ asset('bundles/app/images/g2.jpg') }}">
                        <img src="{{ asset('bundles/app/images/s2.jpg') }}">
                    </a>
                </li>
                <li>
                    <a class="fancybox" data-fancybox-group="gallery1" href="{{ asset('bundles/app/images/g3.jpg') }}">
                        <img src="{{ asset('bundles/app/images/s3.jpg') }}">
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}