<div class="clear"></div>
{% if tours|length > 0 %}
    <div id="head-slider">
        <div id="slider1">
            <ul class="bxslider1">
                {% for tour in tours %}
                    <li>
                        <div class="slider-text-block">
                            <div class="name">{{ tour.title|striptags|trans }}</div>
                            <br />
                            <p class="slider-text">
                                {{ tour.text|striptags|trans|length > 150 ? tour.text|striptags|trans|slice(0, 150) ~ '...' : tour.text|striptags|trans  }}
                            </p>
                            <div class="send">
                                <span class="send-price">{% trans %}от{% endtrans %} EUR {{ tour.price.price|trans }}</span>
                                <a class="send-price2" href="{{ path('item', {'id': tour.id}) }}" target="_blank">{% trans %}далее{% endtrans %}</a>
                            </div>
                        </div>
                        <div class="slider-img">
                            <a  href="{{ path('item', {'id': tour.id}) }}" target="_blank"><img width="640" height="267" src="{{ asset('/uploads/images/'~image[tour.id].path) }}"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% else %}
<div id="head-slider">
    <div id="slider1">
        <ul class="bxslider1">
            <li>
                <div class="slider-text-block">
                    <div class="name">{% trans %}Тур  в Адриатику{% endtrans %}</div>
                    <br />
                    <p class="slider-text">
                        {% trans %}Приглашаем посетить красивейшие города и природные уголки Балкан и отдохнуть в апартаментах на берегу Адриатики!{% endtrans %}
                    </p>
                    <div class="send">
                        <span class="send-price">EUR 700</span>
                        <a class="send-price2" href="{{ path('europe') }}">далее</a>
                    </div>
                </div>
                <div class="slider-img">
                    <img src="{{ asset('bundles/app/images/s-f1.jpg') }}">
                </div>
            </li>
            <li>
                <div class="slider-text-block">
                    <div class="name">{% trans %}Тур  в Словакию{% endtrans %}</div>
                    <br />
                    <p class="slider-text">
                        {% trans %}Словакия–страна легендарных замков, прекрасной природы Карпат, богатой истории, термальных источников и гастрономии.{% endtrans %}
                    </p>
                    <div class="send">
                        <span class="send-price">EUR 600</span>
                        <a class="send-price2" href="{{ path('europe') }}">далее</a>
                    </div>
                </div>
                <div class="slider-img">
                    <img src="{{ asset('bundles/app/images/s-f2.jpg') }}">
                </div>
            </li>
            <li>
                <div class="slider-text-block">
                    <div class="name">{% trans %}Тур  в Венгрию{% endtrans %}</div>
                    <br />
                    <p class="slider-text">
                        {% trans %}Венгрия – страна уникальной 1000-летней культуры,где из земли бьют целебные источники,а к столу подают отменные вина. {% endtrans %}
                    </p>
                    <div class="send">
                        <span class="send-price">EUR 700</span>
                        <a class="send-price2" href="{{ path('europe') }}">далее</a>
                    </div>
                </div>
                <div class="slider-img">
                    <img src="{{ asset('bundles/app/images/s-f3.jpg') }}">
                </div>
            </li>
            <li>
                <div class="slider-text-block">
                    <div class="name">{% trans %}Тур  в Черногорию{% endtrans %}</div>
                    <br />
                    <p class="slider-text">
                        {% trans %}Черногория это теплое море и солнце, это горы и озера, это история и архитектура, это вкуснейшая еда и вино. {% endtrans %}
                    </p>
                    <div class="send">
                        <span class="send-price">EUR 499</span>
                        <a class="send-price2" href="{{ path('europe') }}">далее</a>
                    </div>
                </div>
                <div class="slider-img">
                    <img src="{{ asset('bundles/app/images/s-f2.jpg') }}">
                </div>
            </li>
        </ul>
    </div>
</div>
{% endif %}