{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <h1 style="margin-left: 250px">{% trans %}Вход в административную зону{% endtrans %}</h1>
    <!--<div class="content-block" style="min-height: 300px; height: 337px" >
        <div class="container-body" style="height:200px;width: 650px; color: darkblue">-->
            <div class="viza-block">
                {% if error %}
                    <div>{{ error.message }} </div>
                {% endif %}
                <div style="margin-left: 100px;margin-top: 70px;">
                    <form action="{{ path('login_check') }} " method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                        <br>
                        <input type="text" id="username" name="_username" value="{{ last_username }} " />
                        <br>
                        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                        <br>
                        <input type="password" id="password" name="_password" />
                        <br>
                        <br>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                        <br>
                        <br>
                        {#
                        Åñëè âû õîòèòå êîíòðîëèðîâàòü URL, íà êîòîðûé ïåðåíàïðàâèòü ïîëüçîâàòåëÿ:
                        <input type="hidden" name="_target_path" value="/account" />
                        #}
                        <!--<input type="submit" name="login" />-->
                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                    </form>
                </div>
            </div>
        <!--</div>
    </div>-->
{% endblock %}
