{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Услуги{% endtrans %}</h4>
            <div  class="show-title">{% trans %}Тип{% endtrans %}: {{ entity.type }}</div>
            <br />
            <div  class="show-title">{% trans %}Категория{% endtrans %}: {{ entity.category }}</div>
            <br />
            <div  class="show-title">{% trans %}Подкатегория{% endtrans %}: {{ entity.subcategory }}</div>
            <br />
            <div  class="show-title">{% trans %}Название{% endtrans %}: {{ entity.title }}</div>
            <br />
            <h5>{{ entity.description }}</h5>
            <br />
            <div class="description-title">{% trans %}Описание{% endtrans %}</div>
            <br>
            <div class="description-show-block">
                {{ entity.text }}
            </div>
            <br />
            {{ image|raw }}
            <br />
            <br />
            {% if entity.price != null %}
                <div  class="show-title">{% trans %}Стандартная цена{% endtrans %}: {{ entity.price.price }}</div>
            <br />
            {% endif %}
            {% if entity.price != null %}
                <div  class="show-title">{% trans %}Для иностранцев{% endtrans %}: {{ entity.price.foreigners }}</div>
                <br />
            {% endif %}
            {% if entity.price != null %}
                <div  class="show-title">{% trans %}Для детей{% endtrans %}: {{ entity.price.children }}</div>
                <br />
            {% endif %}
            {% if entity.price != null %}
                <div  class="show-title">{% trans %}Цена со скидкой{% endtrans %}: {{ entity.price.discount }}</div>
                <br />
            {% endif %}
            {% if entity.price != null %}
                <div  class="show-title">{% trans %}Скидка действительна до{% endtrans %}: {{ entity.price.expires|date("d-m-Y") }}</div>
                <br />
            {% endif %}
            {% if entity.price != null %}
                <div  class="show-title">{% trans %}Валюта{% endtrans %}: {{ entity.price.currency }}</div>
                <br />
            {% endif %}
            <br />
            <a href="{{ path('service', {'page':  page }) }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a>
            <br />
            <br />
            <a href="{{ path('service_edit', { 'id': entity.id, 'page':  page }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a>
            <br />
            <br />
            {{ render(controller('AppBundle:service:del', {'id': entity.id})) }}
        </div>
    </div>
{% endblock %}