{% extends 'AppBundle::layout.html.twig' %}
{% block body -%}
    <div class="adria-text-block" >
    {% if gallery|length > 0 %}
        <h3 class="adria-text-h3-layout2" >{{ text.description|trans|default('') }}</h3>
    {% endif %}
        <br>
        <p>{{ text.text|trans|default('')|raw }}</p>
    </div>
{% endblock %}