{% extends 'AppBundle::layout.html.twig' %}
{% block body -%}
    <div class="viza-block">
        <div class="small contact">{% trans %}название{% endtrans %}:<span class="adria">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;{% trans %}SIA ADRIA TOUR{% endtrans %}</span></div>
        <div class="small contact">{% trans %}адрес{% endtrans %}:<span class="adria1"> &emsp; &emsp;&emsp;{% trans %}наш офис находится   ул. Стабу 47/2  4.kab. (2.этаж) Рига.{% endtrans %}</span></div>
        <div class="small contact">{% trans %}телефон{% endtrans %}:<span class="adria1"> &emsp;&emsp;&emsp;+371 20 86 00 01</span></div>
        <div class="small contact">{% trans %}телефон{% endtrans %}:<span class="adria1"> &emsp;&emsp;&emsp;+371 20 86 00 02</span></div>
        <div class="small contact">e-mail:<span class="adria1">&emsp;&emsp; &emsp;<a href="mailto:adria_travel@inbox.lv">  adriatour@inbox.lv</a></span></div>
        <div class="small contact">skype:<span class="adria1"> &emsp; &emsp; &emsp;adria_travel</span></div>
        <div class="time">
            <span style="color: #f28504;">{% trans %}время работы{% endtrans %}<br></span>
            {% trans %}понедельник-пятница{% endtrans %} 10:00 - 18:00
            <br>
            <br />
            <br />
            {% trans %}Регистрация в базе ТАТО - 2015-11{% endtrans %}
            <br>
            {% trans %}Денежная гарантия "BTA Insurance Company SE"{% endtrans %}&nbsp; &nbsp; Polise №.LV15-35-00000007-2
        </div>
        <hr class="style-one">
    </div>
{% endblock %}