<div class="clear1"></div>
<style>
    div.country-list ul li a p {
        margin: 5px auto;
        font-size: 16px;
        color: #1e477b;
        text-align: center;
        font-weight: bold;
    }

    div.country-list ul li:hover a p {
        /*color: #5983BD;*/
        color: white;
    }

    div.country-list ul {
        width: 100%;
        height: 100%;
        list-style: none;
        background-color: #FCFCFC;

    }


    div.country-list ul li {
        text-align: center;
        border-bottom: 1px solid #f59d03;
        /*border-bottom: 1px solid #a03d01;*/
        padding: 7px;

        background-color: white;
        color: #f59d03;

        -webkit-box-shadow: 7px 10px 34px 5px rgba(2, 15, 64, 0.2);
        -moz-box-shadow: 7px 10px 34px 5px rgba(2, 15, 64, 0.2);
        box-shadow: 7px 10px 34px 5px rgba(2, 15, 64, 0.2);

    }

    div.country-list ul li:hover {
        background: rgba(252, 161, 3, 1);
        background: -moz-linear-gradient(top, rgba(252, 161, 3, 1) 0%, rgba(252, 161, 3, 1) 0%, rgba(252, 161, 3, 1) 28%, rgba(255, 240, 107, 1) 96%);
        background: -webkit-linear-gradient(top, rgba(252, 161, 3, 1) 0%, rgba(252, 161, 3, 1) 0%, rgba(252, 161, 3, 1) 28%, rgba(255, 240, 107, 1) 96%);
        background: -o-linear-gradient(top, rgba(252, 161, 3, 1) 0%, rgba(252, 161, 3, 1) 0%, rgba(252, 161, 3, 1) 28%, rgba(255, 240, 107, 1) 96%);
        background: -ms-linear-gradient(top, rgba(252, 161, 3, 1) 0%, rgba(252, 161, 3, 1) 0%, rgba(252, 161, 3, 1) 28%, rgba(255, 240, 107, 1) 96%);
        background: linear-gradient(to bottom, rgba(252, 161, 3, 1) 0%, rgba(252, 161, 3, 1) 0%, rgba(252, 161, 3, 1) 28%, rgba(255, 240, 107, 1) 96%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fca103', endColorstr='#fff06b', GradientType=0);

    }

    div.country-list ul li:last-child {
        border-bottom: none;
    }

    div.country-list ul li:first-child {
        /*border-top: 1px solid #f59d03;*/
    }

    div.country-list ul li a, div.country-list ul li a:hover {

        text-decoration: none;
        color: rgb(14, 44, 74);

        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }

    .country-list{
        width: 324px;
        margin: 0 auto;
    }
</style>
{% if countries|length > 0 %}
    <div class="block-content">
        <div class="block-text">
            <img style="position: absolute; margin: -15px 0 0 252px;" src="{{ asset('bundles/app/images/ico10.png') }}">
            {% trans %}Tour Countries{% endtrans %}
        </div>
        <div class="block-country-link country-list">
            <ul>
                {% for country in countries %}
                    <li>
                        <a href="{{ path('country-tours', {'id': country.id}) }}"
                           target="_blank"><p>{{ country.title|trans|upper }}</p></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}