{% extends 'AppBundle::layout2.html.twig' %}
{% block body -%}
    <style>
        .adria-country-block{
            background-color: #f5f5f5;
            margin: 5px;
            padding: 25px 15px 30px;
            min-height: 245px;
            height:100%;
        }
    </style>
    <div class="block-content">
        <div class="block-text">
            <img style="position: absolute; margin: -15px 0 0 536px;" src="{{ asset('bundles/app/images/ico10.png') }}">
            {{ country.title|trans }}
        </div>
        <div class="adria-country-block" >
            <img src="{{ asset('/uploads/images/slider/'~image.path) }}" width="300" height="225" align="left" class="adria-text-image" >

            <h3 class="adria-text-h3-layout2" >{{ country.description|trans }}</h3>
            <br>
            <p>{{ country.text|trans|raw }}</p>
        </div>
        {% for entity in entities %}
            <div class="block-text2">
                {%    set image = img[entity.id] %}
                <img class="text-img" src="{{ asset('/uploads/images/object/'~image.path) }}">
                <a href="{{ path('item2', {'id': entity.id}) }}" target="_blank"><b>{{ entity.title|striptags|trans }}</b></a>
                <p>{{ entity.text|striptags|trans|length > 150 ? entity.text|striptags|trans|slice(0, 150) ~ '...' : entity.text|striptags|trans  }}</p>

                <div class="text-price">
                    {% if entity.price != null %}
                        <span class="price">{% trans %}от{% endtrans %} EUR <span class="bold"><b>{{ entity.price.price }}</b></span></span>
                    {% endif %}
                    {% if entity.dates|length > 0 %}
                        <span class="price">{% trans %}дата выезда{% endtrans %}: <span class="bold"><b>{{ entity.dates[0]|date("d-m-Y") }}</b></span></span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <br />
        <br />
        <br />
        <center>
            {{ knp_pagination_render(entities) }}
        </center>
        <br />
    </div>

{% endblock %}
