{% extends 'AppBundle::layout2.html.twig' %}
{% block body -%}
    <div class="block-content">
        <div class="block-text">
            <img style="position: absolute; margin: -15px 0 0 536px;" src="{{ asset('bundles/app/images/ico10.png') }}">
            {% trans %}Автобусные туры{% endtrans %}
        </div>
        {% for entity in entities %}
            <div class="block-text2">
                {%    set image = img[entity.id] %}
                {#   set image = entity.galleries[0].images[0] #}
                <img class="text-img" src="{{ asset('/uploads/images/object/'~image.path) }}">
                <a href="{{ path('item', {'id': entity.id}) }}" target="_blank"><b>{{ entity.title|striptags|trans }}</b></a>
                <p>{{ entity.text|striptags|trans|length > 150 ? entity.text|striptags|trans|slice(0, 150) ~ '...' : entity.text|striptags|trans  }}</p>

                <div class="text-price">
                    {% if entity.price != null %}
                        <span class="price">{% trans %}от{% endtrans %} EUR <span class="bold"><b>{{ entity.price.price }}</b></span></span>
                    {% endif %}
                    {% if entity.dates|length > 0 %}
                        <span class="price">{% trans %}дата выезда{% endtrans %}: <span class="bold"><b>{{ entity.dates[0]|date("d-m-Y") }}</b></span></span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <br />
        <br />
        <br />
        <center>
            {{ knp_pagination_render(entities) }}
        </center>
        <br />
    </div>
{% endblock %}