{% extends 'AppBundle::layout.html.twig' %}
{% block body -%}
    <div class="adria-text-block" >
        {% if gallery|length > 0 %}
        <img src="{{ asset('/uploads/images/slider/'~gallery[0].path) }}" width="400" height="300" align="left" class="adria-text-image" >
         {% endif %}
        <h3 class="adria-text-h3" >{{ text.description|trans|default('') }}</h3>
        <br>

        <p>{{ text.text|trans|default('')|raw }}</p>

    </div>
{% endblock %}