{% extends 'AppBundle::layout.html.twig' %}
{% block body -%}
    <div class="viza-block">
        <a href="{{ asset('/bundles/app/download/Agreement.docx') }}" download><p>{% trans %}ДОГОВОР ДЛЯ ТУРИСТОВ{% endtrans %} {% trans %}(СКАЧАТЬ){% endtrans %}</p></a>
        <hr class="style-one">
        <a href="{{ path('free') }}" target="_blank"><p>{% trans %}СТРАНЫ БЕЗВИЗОВЫХ ПОСЕЩЕНИЙ{% endtrans %}</p></a>
        <hr class="style-one"><!--
        <a href="{{ path('russia') }}" target="_blank"><p>{% trans %}ВИЗЫ ДЛЯ ВЫЕЗДА В РОССИЮ, БЕЛОРУССИЮ, КАЗАХСТАН{% endtrans %}</p></a>
        <hr class="style-one">-->
        <a href="{{ path('individual') }}" target="_blank"><p>{% trans %}ОРГАНИЗАЦИЯ ТУРОВ ДЛЯ ИНДИВИДУАЛЬНЫХ И АВТО ПУТЕШЕСТВЕННИКОВ{% endtrans %}</p></a>
        <hr class="style-one">
        <a href="{{ path('school') }}" target="_blank"><p>{% trans %}ПРОГРАММЫ ДЛЯ ШКОЛЬНЫХ ГРУПП{% endtrans %}</p></a>
        <hr class="style-one">
        <a href="{{ path('corp') }}" target="_blank"><p>{% trans %}ПРОГРАММЫ ДЛЯ КОРПОРАТИВНЫХ ГРУПП{% endtrans %}</p></a>
        <hr class="style-one">
        <a href="{{ path('church') }}" target="_blank"><p>{% trans %}ОРГАНИЗАЦИЯ РЕЛИГИОЗНЫХ И ПАЛОМНИЧЕСКИХ ПОЕЗДОК{% endtrans %}</p></a>
        <hr class="style-one">
        <a href="{{ path('health') }}" target="_blank"><p>{% trans %}ЛЕЧЕНИЕ И ОТДЫХ НА СПА КУРОРТАХ ЕВРОПЫ{% endtrans %}</p></a>
        <hr class="style-one">
    </div>
{% endblock %}