{% extends 'AppBundle::layout2.html.twig' %}
{% block body -%}
    <div class="block-content">
        <div class="block-text">
            <img style="position: absolute; margin: -15px 0 0 536px;" src="{{ asset('bundles/app/images/ico10.png') }}">
            {% trans %}Прием туристов в Латвии{% endtrans %}
        </div>
        <div class="adria-text-block" >
    {% if latvia|length > 0 %}
            <img src="{{ asset('/uploads/images/slider/'~latvia[0].path) }}" width="300" height="225" align="left" class="adria-text-image" >
    {% endif %}
        <h3 class="adria-text-h3-layout2" >{{ text.description|trans }}</h3>
            <br>
            <p>{{ text.text|trans|raw }}</p>
        </div>
    </div>
{% endblock %}