{% extends 'AppBundle::layout2.html.twig' %}
{% block body -%}
    <div class="block-content">
        <div class="result-title">
            {{ result.title|raw }}
        </div>
        <br>
        <div class="result-text">
            {{ result.text|raw }}
        </div>
    </div>
{% endblock %}