{% extends 'AppBundle::layout.html.twig' %}
{% block body -%}
    <div class="adria-text-block"  >
        <h2 class="adria-text-h3" >{{ text.description|trans|raw }}</h2>
        <br>
        <p><style>
                th,table,td {
                    border: 1px solid black;
                    text-align: center
                }
                table {border-collapse:collapse;}
            </style>
        <div>
            <table >
                <thead>
                <tr>
                    <th width="200"  >Дата тура</th>
                    <th width="50">Дни</th>
                    <th width="200">Название</th>
                    <th width="100">Цена</th>
                    <th width="200">Спец. цена</th>
                </tr>
                </thead>
                <tbody>
                <tr height=100>
                    <td width="200"><b>Апрель</b></td>
                    <td width="50"></td>
                    <td width="200"></td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100 aligne=center>
                    <td width="200">02.04 – 06.04</td>
                    <td width="50">5</td>
                    <td width="200">ПАСХА В ВЕНГРИИ</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">30.04 -  03.05</td>
                    <td width="50">4</td>
                    <td width="200">Берлин – Потсдам</td>
                    <td width="100">от 240</td>
                    <td width="200"></td>
                </tr>
                <tr height=100 border=1>
                    <td width="200">30.04 – 04.05</td>
                    <td width="50">5</td>
                    <td width="200">Австрия – страна «милого Августина»</td>
                    <td width="100">от 260</td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200"><b>Май</b></td>
                    <td width="50"></td>
                    <td width="200"></td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">30.04-04.05</td>
                    <td width="50">5</td>
                    <td width="200">Майские в Чехии</td>
                    <td width="100">от 195</td>
                    <td width="200">175</td>
                </tr>
                <tr height=100>
                    <td width="200">30.04-04.05</td>
                    <td width="50">5</td>
                    <td width="200">Майские в Словакии</td>
                    <td width="100">от 175</td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">01.05 - 06.05</td>
                    <td width="50">6</td>
                    <td width="200">Чешско-австрийская прогулка</td>
                    <td width="100">от 245</td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">30.05-31.05</td>
                    <td width="50">2</td>
                    <td width="200">Изборск,Словенские ключи,Печоры,Пушгоры</td>
                    <td width="100">от 65</td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200"><b>Июнь</b></td>
                    <td width="50"></td>
                    <td width="200"></td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100 >
                    <td width="200">03.06-07.06</td>
                    <td width="50">5</td>
                    <td width="200">Германия. Парки развлечений</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">05.06-14.06</td>
                    <td width="50">10</td>
                    <td width="200">Хорватия</td>
                    <td width="100">от 240</td>
                    <td width="200"></td>
                </tr>
                <tr height="100" >
                    <td width="200">10.06-14.06</td>
                    <td width="50">5</td>
                    <td width="200">Венгрия</td>
                    <td width="100">от 260</td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">22.06-05.07</td>
                    <td width="50">14</td>
                    <td width="200">БАЛКАНСКИЙ КОКТЕЙЛЬ</td>
                    <td width="100">от 240</td>
                    <td width="200"></td>
                </tr>
                <tr height=100 >
                    <td width="200">20.06-24.06</td>
                    <td width="50">5</td>
                    <td width="200">Лиго в Баварии</td>
                    <td width="100">260</td>
                    <td width="200"></td>
                </tr>
                <tr height=100 >
                    <td width="200">20.06-24.06</td>
                    <td width="50">5</td>
                    <td width="200">Лиго в Чехии</td>
                    <td width="100">от 260</td>
                    <td width="200"></td>
                </tr>


                <tr height=100>
                    <td width="200"><b>Июль</b></td>
                    <td width="50"></td>
                    <td width="200"></td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">03.07-12.07</td>
                    <td width="50">10</td>
                    <td width="200">ХОРВАТИЯ</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">08.07-18.07</td>
                    <td width="50"></td>
                    <td width="200">ЧЕРНОГОРИЯ</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">17.07-26.07</td>
                    <td width="50">10</td>
                    <td width="200">ХОРВАТИЯ</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">22.07-01.08</td>
                    <td width="50">11</td>
                    <td width="200">ЧЕРНОГОРИЯ</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">31.07-09.08</td>
                    <td width="50">10</td>
                    <td width="200">ХОРВАТИЯ</td>
                    <td width="100">от 65</td>
                    <td width="200"></td>
                </tr>




                <tr height=100>
                    <td width="200"><b>Август</b></td>
                    <td width="50"></td>
                    <td width="200"></td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100 >
                    <td width="200">05.08-15.08</td>
                    <td width="50">11</td>
                    <td width="200">ЧЕРНОГОРИЯ</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">14.08-23.08</td>
                    <td width="50">10</td>
                    <td width="200">ХОРВАТИЯ</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100 border=1>
                    <td width="200">19.08-29.08</td>
                    <td width="50">11</td>
                    <td width="200">ЧЕРНОГОРИЯ</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">19.08-29.08</td>
                    <td width="50">10</td>
                    <td width="200">ХОРВАТИЯ</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>



                <tr height=100>
                    <td width="200"><b>Сентябрь</b></td>
                    <td width="50"></td>
                    <td width="200"></td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">07.09-20.09</td>
                    <td width="50">14</td>
                    <td width="200">ХОРВАТИЯ</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">11.09-20.09</td>
                    <td width="50">10</td>
                    <td width="200">ЧЕРНОГОРИЯ</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">25.09-03.10</td>
                    <td width="50">9</td>
                    <td width="200">ХОРВАТИЯ</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>



                <tr height=100>
                    <td width="200"><b>Октябрь</b></td>
                    <td width="50"></td>
                    <td width="200"></td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">08.10-17.10</td>
                    <td width="50">9</td>
                    <td width="200">ХОРВАТИЯ МАНДАРИНЫ</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">27.10-31.10</td>
                    <td width="50">5</td>
                    <td width="200">Каникулы в Словакии</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">27.10-31.10</td>
                    <td width="50">5</td>
                    <td width="200">Каникулы в Чехии</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200"><b>Ноябрь</b></td>
                    <td width="50"></td>
                    <td width="200"></td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>


                <tr height=100>
                    <td width="200"><b>Декабрь</b></td>
                    <td width="50"></td>
                    <td width="200"></td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100 >
                    <td width="200">21.12-25.12</td>
                    <td width="50">5</td>
                    <td width="200">Рождество в Чехии</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">21.12-25.12</td>
                    <td width="50">5</td>
                    <td width="200">Рождество в Венгрии</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100 >
                    <td width="200">29.12-02.01</td>
                    <td width="50">5</td>
                    <td width="200">Новый год в Венгрии</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>
                <tr height=100>
                    <td width="200">21.12-25.12</td>
                    <td width="50">5</td>
                    <td width="200">Рождество в Германии</td>
                    <td width="100"></td>
                    <td width="200"></td>
                </tr>



                </tbody>
            </table>
        </div>
        </p>
    </div>
{% endblock %}