{% extends 'AppBundle::layout.html.twig' %}
{% block body -%}
    <div class="adria-text-block" >
        <div>
            <center>
                <h2 >{{ tour.title|trans|raw }}</h2>
                <br />
                {{ image|raw }}
                <br />
                <h3 class="" >{% if tour.description %}{{ tour.description|trans|raw }}{% endif %}</h3>
                <br>
                {% include 'AppBundle::order-button.html.twig' %}
            </center>
        </div>
        <br>
        <div>{% trans %}Цена{% endtrans %}: <b>{% trans %}от{% endtrans %} {% if tour.price %} {{ tour.price.price }} {% else %} 0 {% endif %} EURO</b></div>
        <br />
        <p ><span style="color: #0c243b;font-size: 19px;">{% if tour.text %}{{ tour.text|trans|raw }}{% endif %}</span></p>
        <br />
        {% set i = 0 %}
        {% if  tour.galleries|length >0 %}
            {% set galleria = tour.galleries[0] %}
            <div class="box">
                <center>
                    {% for image in galleria.images %}
                        <img src="{{ asset('/uploads/images/object/'~image.path) }}" width="200" height="150">
                        &nbsp;
                    {% endfor %}
                </center>
            </div>
        {% endif %}
    </div>
    {% include 'AppBundle::feedback.html.twig' %}
{% endblock %}