{% extends 'AppBundle::layout.html.twig' %}
{% block body -%}
    <div class="adria-text-block" >
        <div>
            <center>
                <h2 >{{ tour.title|trans|raw }}</h2>
                <br />
                {{ image|raw }}
                <br />



                <h3 class="" >{% if tour.description %}{{ tour.description|trans|raw }}{% endif %}</h3>
                <br>
                {% include 'AppBundle::order-button.html.twig' %}
            </center>
        </div>
        <br>
        <div>{% trans %}Тип поездки{% endtrans %}: {% if tour.transport %} {{ tour.transport.title|trans|raw }}  {% endif %}</div>
        <div>{% trans %}Даты{% endtrans %}: <span style="color: #ad6704">{{ daysText|trans|raw }}</span></div>
        <div>{% trans %}Дни{% endtrans %}: <span style="color: #ad6704">{{ nightText|trans|raw }}</span></div>
        <div>{% trans %}Цена{% endtrans %}: <b>{% trans %}от{% endtrans %} {% if tour.price %} {{ tour.price.price }} {% else %} 0 {% endif %}  EURO</b></div>
        <br />

        <p ><span style="color: #0c243b;font-size: 19px;font-style: italic">{% if tour.text %}{{ tour.text|trans|raw }} {% endif %}</span></p>
        <br />
        {% for duration in tour.durations %}
            <span style="margin-left: 60px;color: #8b0000;font-size: 16px;">
                <b>{{ duration.title|trans|raw }}</b>
            </span>
            <div style="margin-right: 40px;color: #002a80;;font-size: 15px;">
                {{ duration.description|trans|raw }}
                <br />
            </div>
            <br />



            {% set i = 0 %}
            {% if duration.images|length > 0 %}
                <div class="box">
                    <center>
                        {% for image in duration.images %}
                            <img src="{{ asset('/uploads/images/object/'~image.path) }}" width="200" height="150">
                            &nbsp;
                        {% endfor %}
                    </center>
                </div>
            {% elseif duration.galleries %}
                {% for gallery in duration.galleries %}
                    {% if i < 1 %}
                        <div class="box">
                            <center>
                                {% for image in gallery.images %}
                                    <img src="{{ asset('/uploads/images/object/'~image.path) }}" width="200" height="150">
                                    &nbsp;
                                {% endfor %}
                            </center>
                        </div>

                    {% endif %}
                    {% set i = i +1 %}
                {% endfor %}
            {% endif %}
            <br />
            <p>{{ duration.text|trans|raw }}</p>
            <br />
        {% endfor %}
        <br />
        {%  if inclusive %}
            <p><b>{% trans %}В стоимость входит{% endtrans %}:</b></p>
            <div style="margin-left: 35px;margin-right: 25px;">
                <ul>
                    {% for inc in inclusive %}
                        <li>{{ inc.description|trans|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
            <br />
        {% endif %}
        {% if exclusive %}
            <p><b>{% trans %}Дополнительные расходы{% endtrans %}  <span style="float:right;margin-right: 120px;">{% trans %}взрослые/дети{% endtrans %}</span>:</b></p>

            <div style="margin-left: 35px;margin-right: 25px;">
                <ul>
                    {% for excl in exclusive  %}
                        <li>
                            {{ excl.description|trans|raw }}
                            <span style="float:right;margin-right: 100px;font-weight: 400">
                                {% if excl.price %}
                                    {{ excl.price.price }}/{{ excl.price.children }} EURO
                                {% endif %}
                            </span></li>
                    {% endfor %}
                </ul>
            </div>
            <br />
        {% endif %}
        {% if documents %}
            <p class="adria-tour-additional-info" ><b>{% trans %}Документы, необходимые для поездки{% endtrans %}:</b></p>
            <div style="margin-left: 35px;margin-right: 25px;">
                <ul>
                    {% for doc in documents  %}
                        <li>{{ doc.text|trans|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
            <br>
        {% endif %}
        {% if children %}
            <p class="adria-tour-additional-info"><b>{% trans %}Информация для туристов, путешествующих с детьми до 18 лет{% endtrans %}:</b></p>
            <div style="margin-left: 35px;margin-right: 25px;">
                <ul>
                    {% for child in children  %}
                        <li>{{ child.text|trans|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
            <br>
        {% endif %}
        {% if additions %}
            <p class="adria-tour-additional-info"><b>{% trans %}Дополнительная информация{% endtrans %}:</b></p>
            <div style="margin-left: 35px;margin-right: 25px;">
                <ul>
                    {% for addition in additions  %}
                        <li>{{ addition.text|trans|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    {% include 'AppBundle::feedback.html.twig' %}
{% endblock %}