{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Валюта:{% endtrans %}</h4>
            <h5>{{ entity.date|date("d-m-Y") }}</h5>
            <br />
            <a href="{{ path('date', {'page':  page }) }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a>
            <br />
            <br />
            <a href="{{ path('date_edit', { 'id': entity.id, 'page':  page }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a>
            <br />
            <br />
            {{ render(controller('AppBundle:date:del', {'id': entity.id})) }}
        </div>
    </div>
{% endblock %}