{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Расписание{% endtrans %}</h4>
            <div  class="show-title">{% trans %}Название{% endtrans %}: {{ entity.title }}</div>
            <br />
            <div  class="show-title">{% trans %}Начало{% endtrans %}: {{ entity.start|date('Y-m-d') }}</div>
            <br />
            <div  class="show-title">{% trans %}Окончание{% endtrans %}: {{ entity.finish|date('Y-m-d') }}</div>
            <br />
            <div  class="show-title">{% trans %}Тур{% endtrans %}: {{ entity.tour.title }}</div>
            <br />
            <div  class="show-title">{% trans %}Количество дней{% endtrans %}: {{ diff }}</div>
            <br />
            <div  class="show-title">{% trans %}Дни тура{% endtrans %}: {{ entity.start|date('d.m')  }}-{{ entity.finish|date('d.m')  }}</div>
            <br />
            <div  class="show-title">{% trans %}Месяц тура{% endtrans %}: {{ entity.finish|date('F')  }}</div>
            <br />


            <br />
            <a href="{{ path('schedule', {'page':  page }) }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a>
            <br />
            <br />
            <a href="{{ path('schedule_edit', { 'id': entity.id, 'page':  page }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a>
            <br />
            <br />
            {{ render(controller('AppBundle:schedule:del', {'id': entity.id})) }}
        </div>
    </div>
{% endblock %}