{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Экскурсии{% endtrans %}</h4>
            <div  class="show-title">{% trans %}Тип{% endtrans %}: {{ entity.type }}</div>
            <br />
            <div  class="show-title">{% trans %}Страны{% endtrans %}: {{ country }}</div>
            <br />
            <div  class="show-title">{% trans %}Города{% endtrans %}: {{ city }}</div>
            <br />
            <div class="show-title">{% trans %}Название{% endtrans %}: {{ entity.title }}</div>
            <br>
            <div class="show-title">{% trans %}Описание{% endtrans %}: {{ entity.description  }}</div>
            <br>
            <br>
            <div class="description-show-block">
                {{ entity.text }}
            </div>
            <h4>{% trans %}Цена{% endtrans %}</h4>
            <h5>{{ entity.price.price }} EURO</h5>
            {% if entity.price.foreigners != null %}
                <h4>{% trans %}Цена для иностранцев{% endtrans %}</h4>
                <h5>{{ entity.price.foreigners }} EURO</h5>
            {% endif %}
            {% if entity.price.children != null %}
                <h4>{% trans %}Цена для детей{% endtrans %}</h4>
                <h5>{{ entity.price.children }} EURO</h5>
            {% endif %}
            <br />
            {{ image|raw }}
            <br />
            <br />
            <a href="{{ path('excursions', {'page':  page }) }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a>
            <br />
            <br />
            <a href="{{ path('excursions_edit', { 'id': entity.id, 'page':  page }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a>
            <br />
            <br />
            {{ render(controller('AppBundle:excursions:del', {'id': entity.id})) }}
        </div>
    </div>
{% endblock %}