{% extends 'AppBundle::layoutAdminTour.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Тур{% endtrans %}</h4>
            <div  class="show-title">{% trans %}Название{% endtrans %}: {{ entity.title }}</div>
            <br />
            <div  class="show-title">{% trans %}Транспорт{% endtrans %}: {{ entity.transport.type }}</div>
            <br />
            <div  class="show-title">{% trans %}Описание{% endtrans %}: {{ entity.description }}</div>
            <br />
            <div class="description-title">{% trans %}Текст{% endtrans %}</div>
            <br>
            <div class="description-show-block">
                {{ entity.text }}
            </div>
            <br />
            <div  class="show-title">{% trans %}Стандартная цена{% endtrans %}: {{ entity.price.price }}</div>
            <br />
            {% if entity.price.foreigners != null %}
                <div  class="show-title">{% trans %}Для иностранцев{% endtrans %}: {{ entity.price.foreigners }}</div>
                <br />
            {% endif %}
            {% if entity.price.children != null %}
                <div  class="show-title">{% trans %}Для детей{% endtrans %}: {{ entity.price.children }}</div>
                <br />
            {% endif %}
            {% if entity.price.discount != null %}
                <div  class="show-title">{% trans %}Цена со скидкой{% endtrans %}: {{ entity.price.discount }}</div>
                <br />
            {% endif %}
            {% if entity.price.expires != null %}
                <div  class="show-title">{% trans %}Скидка действительна до{% endtrans %}: {{ entity.price.expires|date("d-m-Y") }}</div>
                <br />
            {% endif %}
            <div  class="show-title">{% trans %}Валюта{% endtrans %}: {{ entity.price.currency }}</div>
            <br />
            <div  class="show-title">{{ active|trans }}</div>
            <br />
            <div  class="show-title">{{ early|trans }}</div>
            <br />
            <div  class="show-title">{{ burning|trans }}</div>
            <br />
            <div  class="show-title">{{ offers|trans }}</div>
            <br />
            <div  class="show-title">{% trans %}Создан{% endtrans %}: {{ entity.created|date("d-m-Y") }} {% trans %}Администратором{% endtrans %}: {{ entity.creator.username }}</div>
            <br />
            <h4>{% trans %}Менеджеры{% endtrans %}</h4>
            <table class="table table-striped table-bordered table-condensed">
                <thead style="background-color: #4f4f4f">
                <tr>
                    <th><div class="table-tour-manager"  style="color: #ffffff"><b>ID</b></div></th>
                    <th><div class="table-tour-manager"  style="color: #ffffff"><b>{% trans %}Должность{% endtrans %}</b></div></th>
                    <th><div class="table-tour-manager"  style="color: #ffffff"><b>{% trans %}Имя{% endtrans %}</b></div></th>
                    <th><div class="table-tour-manager"  style="color: #ffffff"><b>{% trans %}Фамилия{% endtrans %}</b></div></th>
                    <th><div class="table-tour-manager"  style="color: #ffffff"><b>{% trans %}Телефон{% endtrans %}</b></div></th>
                    <th><div class="table-tour-manager"  style="color: #ffffff"><b>{% trans %}Электронная почта{% endtrans %}</b></div></th>
                </tr>
                </thead>
                <tbody>
                {% for manager in  managers %}
                    <tr>
                        <td><a href="{{ path('admin_show', { 'id': manager.id }) }}" target="_blank">{{ manager.id }}</a></td>
                        <td>{{ manager.position }}</td>
                        <td>{{ manager.username }}</td>
                        <td>{{ manager.surname }}</td>
                        <td>{{ manager.phone }}</td>
                        <td>{{ manager.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4>{% trans %}Тур по дням{% endtrans %}</h4>
            <table class="table table-striped table-bordered table-condensed">
                <thead style="background-color: #4f4f4f">
                <tr>
                    <th><div class="table-tour-duration"  style="color: #ffffff"><b>ID</b></div></th>
                    <th><div class="table-tour-duration"  style="color: #ffffff"><b>{% trans %}Название{% endtrans %}</b></div></th>
                    <th><div class="table-tour-duration"  style="color: #ffffff"><b>{% trans %}Описание{% endtrans %}</b></div></th>
                </tr>
                </thead>
                <tbody>
                {% for duration in  durations %}
                    <tr>
                        <td><a href="{{ path('duration_show', { 'id': duration.id }) }}" target="_blank">{{ duration.id }}</a></td>
                        <td>{{ duration.title }}</td>
                        <td>{{ duration.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4>{% trans %}Страны{% endtrans %}</h4>
            <table class="table table-striped table-bordered table-condensed">
                <thead style="background-color: #4f4f4f">
                <tr>
                    <th><div class="table-tour-country"  style="color: #ffffff"><b>ID</b></div></th>
                    <th><div class="table-tour-country"  style="color: #ffffff"><b>{% trans %}Название{% endtrans %}</b></div></th>
                    <th><div class="table-tour-country"  style="color: #ffffff"><b>{% trans %}Описание{% endtrans %}</b></div></th>
                </tr>
                </thead>
                <tbody>
                {% for country in  countries %}
                    <tr>
                        <td><a href="{{ path('country_show', { 'id': country.id }) }}" target="_blank">{{ country.id }}</a></td>
                        <td>{{ country.title }}</td>
                        <td>{{ country.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4>{% trans %}Города{% endtrans %}</h4>
            <table class="table table-striped table-bordered table-condensed">
                <thead style="background-color: #4f4f4f">
                <tr>
                    <th><div class="table-tour-city"  style="color: #ffffff"><b>ID</b></div></th>
                    <th><div class="table-tour-city"  style="color: #ffffff"><b>{% trans %}Название{% endtrans %}</b></div></th>
                    <th><div class="table-tour-city"  style="color: #ffffff"><b>{% trans %}Описание{% endtrans %}</b></div></th>
                </tr>
                </thead>
                <tbody>
                {% for city in  cities %}
                    <tr>
                        <td><a href="{{ path('city_show', { 'id': city.id }) }}" target="_blank">{{ city.id }}</a></td>
                        <td>{{ city.title }}</td>
                        <td>{{ city.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4>{% trans %}Группы{% endtrans %}</h4>
            <table class="table table-striped table-bordered table-condensed">
                <thead style="background-color: #4f4f4f">
                <tr>
                    <th><div class="table-tour-group"  style="color: #ffffff"><b>ID</b></div></th>
                    <th><div class="table-tour-group"  style="color: #ffffff"><b>{% trans %}Название{% endtrans %}</b></div></th>
                </tr>
                </thead>
                <tbody>
                {% for group in  groups %}
                    <tr>
                        <td><a href="{{ path('groups_show', { 'id': group.id }) }}" target="_blank">{{ group.id }}</a></td>
                        <td>{{ group.title }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4>{% trans %}Услуги{% endtrans %}</h4>
            <table class="table table-striped table-bordered table-condensed">
                <thead style="background-color: #4f4f4f">
                <tr>
                    <th><div class="table-tour-service"  style="color: #ffffff"><b>ID</b></div></th>
                    <th><div class="table-tour-service"  style="color: #ffffff"><b>{% trans %}Тип{% endtrans %}</b></div></th>
                    <th><div class="table-tour-service"  style="color: #ffffff"><b>{% trans %}Категория{% endtrans %}</b></div></th>
                    <th><div class="table-tour-service"  style="color: #ffffff"><b>{% trans %}Подкатегория{% endtrans %}</b></div></th>
                    <th><div class="table-tour-service"  style="color: #ffffff"><b>{% trans %}Цена{% endtrans %}</b></div></th>
                    <th><div class="table-tour-service"  style="color: #ffffff"><b>{% trans %}Название{% endtrans %}</b></div></th>
                    <th><div class="table-tour-service"  style="color: #ffffff"><b>{% trans %}Описание{% endtrans %}</b></div></th>
                </tr>
                </thead>
                <tbody>
                {% for service in  services %}
                    <tr>
                        <td><a href="{{ path('service_show', { 'id': service.id }) }}" target="_blank">{{ service.id }}</a></td>
                        <td>{{ service.type.title }}</td>
                        {% if service.category != null %}
                            <td>{{ service.category.title }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if service.subcategory != null %}
                            <td>{{ service.subcategory.title }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if service.price != null %}
                            <td>{{ service.price.price }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ service.title }}</td>
                        <td>{{ service.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4>{% trans %}Экскурсии{% endtrans %}</h4>
            <table class="table table-striped table-bordered table-condensed">
                <thead style="background-color: #4f4f4f">
                <tr>
                    <th><div class="table-tour-excursions"  style="color: #ffffff"><b>ID</b></div></th>
                    <th><div class="table-tour-excursions"  style="color: #ffffff"><b>{% trans %}Тип{% endtrans %}</b></div></th>
                    <th><div class="table-tour-excursions"  style="color: #ffffff"><b>{% trans %}Название{% endtrans %}</b></div></th>
                    <th><div class="table-tour-excursions"  style="color: #ffffff"><b>{% trans %}Описание{% endtrans %}</b></div></th>
                    <th><div class="table-tour-excursions"  style="color: #ffffff"><b>{% trans %}Цена{% endtrans %}</b></div></th>
                </tr>
                </thead>
                <tbody>
                {% for excursion in  excursions %}
                    <tr>
                        <td><a href="{{ path('excursions_show', { 'id': excursion.id }) }}" target="_blank">{{ excursion.id }}</a></td>
                        <td>{% if excursion.type != null %}{{ excursion.type.title }}{% endif %}</td>
                        <td>{{ excursion.title }}</td>
                        <td>{{ excursion.description }}</td>
                        <td>{% if excursion.price != null %}{{ excursion.price.price }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br />
            <br />
            <a href="{{ path('tour', {'page':  page }) }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a>
            <br />
            <br />
            <a href="{{ path('tour_edit', { 'id': entity.id, 'page':  page }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a>
            <br />
            <br />
            {{ render(controller('AppBundle:tour:del', {'id': entity.id})) }}
        </div>
    </div>
{% endblock %}