{% if pageCount > 1 %}
<div class="pagination">
    <ul >
        {% if first is defined and current != first %}
            <li class="pagination-face-b">
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&laquo;</a>
            </li>
        {% endif %}
        {% if previous is defined %}
            <li class="pagination-face-b">
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lsaquo;</a>
            </li>
        {% endif %}
        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="pagination-face-b">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="active"><a href="#">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        {% if next is defined %}
            <li  class="pagination-face-b">
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&rsaquo;</a>
            </li>
        {% endif %}

        {% if last is defined and current != last %}
            <li  class="pagination-face-b">
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>


{% endif %}
