{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <br />
    <br />
    <center>
        <h1>{% trans %}Создать{% endtrans %} {% trans %}группу{% endtrans %}</h1>
        {{ form(form) }}
        <ul class="record_actions">
            <li>
                <a href="{{ path('groups') }}" class='btn btn-success'>
                    {% trans %}Вернуться к списку{% endtrans %}
                </a>
            </li>
        </ul>
    </center>
{% endblock %}
