{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h1>{% trans %}Список{% endtrans %} {% trans %}информаций о детях{% endtrans %}</h1>
        </div>
        <br />
        <center>
            {{ knp_pagination_render(pagination) }}
        </center>
        <br />
        <div class="create-entities-buttons">
            <div class="create-entity-children">
                <div>
                    <a href='#idModalAddChildren' role='button' class='btn btn-warning' data-toggle='modal'>{% trans %}Создать{% endtrans %}</a>
                </div>
                <br>
                <div class='modal hide fad'  id="idModalAddChildren" tabindex='-1'  role='dialog' aria-labelledby="idModalLabelChildren" aria-hidden='true'>
                    <div class='modal-body'>
                        <div>
                            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>x</button>
                            <br>
                        </div>
                        <div class="modal-inner-children  text-center">
                            <h3 id="idModalLabelChildren" >{% trans %}Создать{% endtrans %}</h3>
                        <span>
                            {{ render(controller('AppBundle:children:modal')) }}
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <table class="table table-striped table-bordered table-condensed">
            <thead style="background-color: #4f4f4f">
            <tr>
                <th><div class="table-children-id"  style="color: #ffffff"><b>Id</b></div></th>
                <th><div class="table-children-name"  style="color: #ffffff"><b>{% trans %}Название{% endtrans %}</b></div></th>
                <th><div class="table-children-show"  style="color: #ffffff"><b>{% trans %}Показать{% endtrans %}</b></div></th>
                <th><div  style="color: #ffffff"><b><i>{% trans %}Редактировать{% endtrans %}</i></b></div></th>
                <th><div style="color: red"><b><i>{% trans %}Удалить{% endtrans %}</i></b></div></th>
            </tr>
            </thead>
            <tbody>
            {% for entity in  pagination %}
                <tr>
                    <td><a href="{{ path('children_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.description }}</td>
                    <td><a href="{{ path('children_show', { 'id': entity.id }) }}" class="btn btn-success">{% trans %}Показать{% endtrans %}</a> </td>
                    <td><a href="{{ path('children_edit', { 'id': entity.id }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a> </td>
                    <td>{{ render(controller('AppBundle:children:del', {'id': entity.id})) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br />
    <center>
        {{ knp_pagination_render(pagination) }}
    </center>
    <br />
{% endblock %}