{% extends 'AppBundle::layoutAdmin.html.twig' %}
{% block body -%}
    <div class="container-inner">
        <div class="inner-main-title">
            <h4>{% trans %}Информация о детях:{% endtrans %}</h4>
            <h5>{{ entity.description }}</h5>
            <br />
            <div class="description-title">{% trans %}Описание{% endtrans %}</div>
            <br>
            <div class="description-show-block">
                {{ entity.text }}
            </div>
            <br />
            <a href="{{ path('children') }}" class="btn btn-success">{% trans %}Вернуться к списку{% endtrans %}</a>
            <br />
            <br />
            <a href="{{ path('children_edit', { 'id': entity.id, 'page':  page }) }}" class="btn btn-info">{% trans %}Редактировать{% endtrans %}</a>
            <br />
            <br />
            {{ render(controller('AppBundle:children:del', {'id': entity.id})) }}
        </div>
    </div>
{% endblock %}